@font-face {
  font-family: "AntioStd";
  src: url("AnitoStd.otf");
}
@font-face {
  font-family: "Rodin";
  src: url("Rodin.otf");
}
@font-face {
  font-family: "SeuratCapie";
  src: url("SeuratCapie.otf");
}
@font-face {
  font-family: "HeyGorgeous";
  src: url("HeyGorgeous.ttf");
}

html * {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

#fonttest {
  font-family: 'AntioStd';
  line-height: 1.2;
  font-size: 150%;
}

#fonttest2 {
  font-family: 'Rodin';
  line-height: 1.2;
  font-size: 150%;
}

#fonttest3 {
  font-family: 'SeuratCapie';
  line-height: 1.2;
  font-size: 150%;
}

#fonttest4 {
  font-family: 'HeyGorgeous';
}