@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*set background colours, set font, alignment and sizes*/
body {
  background-color: #191919;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  word-wrap: break-word;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
/*force all images to fit*/
img {
  object-fit: contain
}
/*resize all videos to fit all screens*/
video {
  height: 80%;
  width: 80%;
  object-fit: fill;
}
/*blockquote*/
blockquote {
  border-left: 5px solid rgba(255, 102, 102, 0.9);
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 0%, 0.2);
}
/*ask browser to change button colours*/
:root {
  color-scheme: light dark;
}
/*nearest neighbour pixel scaling for pixel art*/
#imagepixel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
/*sticky header*/
.header {
  position: sticky;
  top: 5px;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 7px;
  border-radius: 10px;
  z-index:1000;
}
/*translatebox*/
.translatebox {
  position: fixed;
  right: 0px;
  bottom: -20px;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 5px;
  border-radius: 10px;
}
/*code box*/
.codeBox {
  font-size: 15px;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(5px);
  white-space: pre-wrap;
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

/*fun:
filter: blur(8px);
backdrop-filter: blur(0px);
*/

/*blog styles*/
.blogBG {
  background-image: url('/resources/backgrounds/blogBG2.jpg');
  background-blend-mode: normal;
}
.blog * {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  text-decoration: none;
}
.blog{
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}
.blog .pageTitle {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
}
.blog .pageDesc {
  color: rgba(255, 255, 255, 0.7);
}
.blog .post {
  padding: 20px;
  margin-block: 20px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}
.blog .title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  line-height: 1;
}
.blog .title:hover {
  color: rgba(255, 255, 255, 1);
}
.blog .desc {
  margin-top: 5px;
}
.blog .text {
  color: rgba(255, 255, 255, 0.8);
}
.blog img {
  border-radius: 15px;
}
.blog .image {
  padding-top: 10px
}
.blog .date {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}
.blog .date:hover {
  color: rgba(255, 255, 255, 1);
}
.blog .tags .tag {
  display: inline-block;
  margin-top: 4px;
  margin-left: 2px;
}
.blog .tags .tagHeader {
  display: inline-block;
  margin-top: 8px;
}
.blog .headingAnchor{
  color: rgba(255, 255, 255, 0.3);
}
.blog .headingAnchor:hover{
  color: rgba(255, 255, 255, 0.5);
}
/*if mobile*/
@media (hover: none) {
  .blog{
    max-width: 100%;
    padding: 5px;
  }
  .blog .post{
    padding: 12px;
    margin-block: 10px;
  }
  .blog .title{
    font-size: 30px;
  }
}

/*link colours*/
a:link {
  color: #ff6666;
}
a:visited {
  color: #ff8a8a;
}
a:hover {
  color: #ff4545;
}

/*scroll bar colour*/
div.ScrollBox {
  height:200px;
  max-width:800px;
  width: auto;
  font-size:15px;
  margin: auto;
  overflow-y:scroll;
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 1); 
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50, 0.8); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 30, 30, 0.8); 
}

/*load fonts*/
/*CJK (JP) font*/
@font-face {
  font-family: "JPFont";
  src: url("AnitoStdM.otf");
}
#JPFont {
  font-family: 'JPFont';
  line-height: 1.2;
}

/*alert banner UI*/
.alert {
  top: 0;
  padding: 5px;
  background-color: #5c5c5c;
  color: white;
  opacity: 1;
  transition: opacity 0.3s;
  width: 35%;
  margin: auto;
  margin-top: 25px;
}
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.fail {background-color: #ff7057;}
.infotext {
  font-size: 15px;
  transition: 0.3s;
}
.infoimage {
 float: left;
 transition: 0.3s;
 padding: 3px;
}
.closebtn {
  padding: 5px;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: #252525;
}