/*load fonts*/
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.woff2");
  font-display: swap;
}
/*CJK (JP) font*/
@font-face {
  font-family: "JPFont";
  src: url("AnitoStdM.otf");
}
#JPFont {
  font-family: 'JPFont';
  line-height: 1.2;
}

/*set background colours, set font, alignment and sizes*/
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  word-wrap: break-word;
  background-color: #191919;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  -webkit-transition: background-image 0.5s ;
  transition: background-image 0.5s;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
/*force all images to fit*/
img {
  object-fit: contain
}

/*maximise space for mobile devices*/
@media screen and (max-width: 768px) {
  video {
    width: 100%;
    height: 100%;
  }
}

/*background video*/
#videoBG {
  object-fit: cover;
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
  filter: brightness(25%);
}

/*blockquote*/
blockquote {
  border-left: 5px solid rgba(255, 102, 102, 0.9);
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: hsla(0, 0%, 0%, 0.4);
}
.success{
  border-left: 5px solid rgba(4, 170, 109, 0.9);
  border-right: 5px solid rgba(4, 170, 109, 0.9);
  background-color: rgba(4, 170, 109, 0.4);
  animation: open-message 0.7s ease-in-out;
}
.info{
  border-left: 5px solid rgba(33, 150, 243, 0.9);
  border-right: 5px solid rgba(33, 150, 243, 0.9);
  background-color: rgba(33, 150, 243, 0.4);
  animation: open-message 0.7s ease-in-out;
}
.warning{
  border-left: 5px solid rgba(255, 152, 0, 0.9);
  border-right: 5px solid rgba(255, 152, 0, 0.9);
  background-color: rgba(255, 152, 0, 0.4);
  animation: open-message 0.7s ease-in-out;
}
.fail{
  border-left: 5px solid rgba(255, 95, 65, 0.9);
  border-right: 5px solid rgba(255, 95, 65, 0.9);
  background-color: rgba(255, 95, 65, 0.4);
  animation: open-message 0.7s ease-in-out;
}
@keyframes open-message {
  from {width:10%; opacity:0%;}
  to {width:97%; opacity:100%;}
}
.textFadeIn{
  visibility: visible;
  animation-name: textFadeIn;
  animation-duration: 1s;
}
@keyframes textFadeIn {
  0% {opacity:0%; visibility: hidden; font-size: 0%;}
  70% {opacity:0%; visibility: visible; font-size: 0%;}
  71% {opacity:0%; visibility: visible; font-size: 100%;}
  100% {opacity:100%; visibility: visible; font-size: 100%;}
}
/*change layout for mobile devices*/
@media screen and (max-width: 768px) {
  blockquote {
    border-left: 4px solid rgba(255, 102, 102, 0.9);
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  }

/*code formatting*/
code {
  padding: 3px 5px;
  line-height: 1;
  border-radius: 5px;
  font-size: 15px;
  background-color: hsla(0, 0%, 0%, 0.4);
}

/*table*/
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.2);
}
/*change layout for mobile devices*/
@media screen and (max-width: 768px) {
  td, th {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.2);
  }
  }

/*ask browser to change button colours*/
:root {
  color-scheme: light dark;
}

/*mouse highlight colour*/
::selection {
  background-color: #ff3c3ca1
}

/*nearest neighbour pixel scaling for pixel art*/
#imagepixel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

/*sticky header*/
.header {
  position: sticky;
  top: 5px;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 7px;
  border-radius: 10px;
  z-index:1000;
  display: inline-block;
}
/*change layout for mobile devices*/
@media screen and (max-width: 768px) {
  .header {
    display: grid;
    text-align: left;
    margin-left: 20px;
  }
}

/*code box*/
.codeBox {
  font-size: 15px;
  padding: 15px;
  line-height: 1.6;
  background-color: hsla(0, 0%, 0%, 0.4);
  white-space: pre-wrap;
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

/*settings box*/
.settingsBox {
  border-radius: 25px;
  background-color: hsla(0, 0%, 0%, 0.8);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: open-box 0.7s ease-in-out;
}
@keyframes open-box {
	0% {transform: scale(0, 0); opacity:0%;}
}

/*link colours*/
a:hover, a:visited, a:link, a:active{text-decoration: none;}
a:link {
  color: #ff6868;
  -webkit-transition: color 0.08s linear;
  -moz-transition: color 0.08s linear;
  -ms-transition: color 0.08s linear;
  -o-transition: color 0.08s linear;
  transition: color 0.08s linear;
}
a:visited {
  color: #ff6868;
}
a:hover {
  color: #ffeeee;
}

/*scroll bar colour*/
div.ScrollBox {
  height:200px;
  max-width:800px;
  width: auto;
  font-size:15px;
  margin: auto;
  overflow-y:scroll;
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 1); 
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50, 0.8); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 30, 30, 0.8); 
}

/*fun:
filter: blur(8px);
backdrop-filter: blur(0px);
*/

/*blog styles*/
.blogBG {
  background-image: url('./resources/backgrounds/blogBG3.webp');
  background-blend-mode: difference;
}
.blog * {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  text-decoration: none;
}
.blog {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}
.pageTitle {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}
.desc {
  font-size: 18px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.pageDesc {
  color: rgba(255, 255, 255, 0.8);
}
.post {
  padding: 20px;
  margin-block: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.blog .title {
  font-size: 40px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}
.title {
  font-size: 40px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}
.title:hover {
  color: rgba(255, 255, 255, 1);
}
.h1, h2{
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
}
.sub{
  line-height: 0;
}
.blog img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}
.image {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}
.date {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.date:hover {
  -webkit-transition: color 0.05s linear;
  -moz-transition: color 0.05s linear;
  -ms-transition: color 0.05s linear;
  -o-transition: color 0.05s linear;
  transition: color 0.05s linear;
  color: rgba(255, 255, 255, 1);
}
.tags .tag {
  display: inline-block;
  margin-top: 4px;
  margin-left: 2px;
}
.tags .tagHeader {
  display: inline-block;
  margin-top: 8px;
}
.headingAnchor{
  color: rgba(255, 255, 255, 0.4);
}
.blog .headingAnchor{
  color: rgba(255, 255, 255, 0.4);
}
.headingAnchor:hover{
  color: rgba(255, 255, 255, 0.8);
}
.blog ::selection {
  background-color: rgba(0, 0, 0, 0.5);
}
/*if mobile*/
@media screen and (max-width: 768px) {
  .blog{
    max-width: 100%;
    padding: 5px;
    padding-top: 20px;
  }
  .blog .post{
    padding: 12px;
    margin-block: 10px;
  }
  .blog .title{
    font-size: 30px;
  }
  .blog img{
    border-radius: 0px;
  }
}